*,
*:before,
*:after{
    margin:0;
    border:0;
    
}

body{
    background-color: white !important;
}

.loading{
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 16rem;
    height: 16rem;
    box-shadow: 0 20px 35px rgb(0, 0, 0);
    overflow: hidden;
    
}

.loading:before{
    background-image:conic-gradient(
        #002efd 20deg,
        transparent 120deg
    );
    content: "";
    height: 115%;
    width:115%;
    position: absolute;
    top:-6%;
    left:-5%;
    animation: rotate 2s infinite linear;
}

@keyframes rotate{
    100%{
        transform: rotate(-360deg);
    }
}

.loading:after{
    content: "MS";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130px;
    letter-spacing: 10px;
    height: 94%;
    width: 94%;
    position: absolute;
    background-color:#0d76ff ;
    top: 3%;
    left: 3%;
    color: #003cff;
    display: grid;
    place-items: center;
}
